# caches and local files
.mypy_cache/
__pycache__/
venv/
.vscode/
meta.json
node_modules/
docs/tiddlers/$__StoryList.tid

# build outputs
*.ankiaddon
anki-plugin/src/*_dialog.py
docs/output
.coverage
tests/coverage/
