# caches and local files
.mypy_cache/
__pycache__/
venv/
.vscode/
meta.json
node_modules/
$__StoryList*.tid
$__Import.tid

# build outputs
*.ankiaddon
anki-plugin/src/*_dialog*.py
docs/output
.coverage
tests/coverage/
