div.rememberq {
	border-left: 3px solid <<colour tag-background>>;
	padding-left: 0.5em;
}

div.rememberq .rquestion p, .ranswer p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2em;
}

div.rememberq .rquestion div, div.rememberq .ranswer div {
	font-weight: bold;
	color: <<colour primary>>;
	float: left;
}

div.rememberq div.rid {
	float: right;
	color: <<colour muted-foreground>>;
}

div.remembercz {
	border-left: 3px solid <<colour tag-background>>;
	padding-left: 0.5em;
}

.remembercz > span.cloze-identifier {
	color: <<colour tag-background>>;
}

.remembercz div.rid {
	float: right;
	margin-left: 0.5em;
	color: <<colour muted-foreground>>;
}
